# Ignore virtual environment
venv/

# Ignore pickle files
*.pkl

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore CSV if too large (optional)
*.csv

# Python cache
__pycache__/
*.pyc
